.About {
  color: var(--color-main);
  display: flex;
  flex-direction: column;
}

.About-content {
  align-self: center;
  width: 50%;
}

.About-haiku {
  font-family: 'Caveat Brush', cursive;
  font-size: 2em;
}