.Home {
  position: relative;
  height: 80vh;
  width: 100vw;
  background-image: url('../images/home.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.Home h1 {
  font-size: 3em;
  font-weight: bold;
  max-width: fit-content;
}

.Home span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.image-credit {
  position: absolute;
  bottom: 0;
  right: 0;
}