.Navigation {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-tan);
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100vw;
}

.Navigation ul {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
}

.Navigation ul li {
  border-right: 1px solid var(--color-tan);
  padding: 1em;
}

.Navigation ul li:last-child {
  border-right: none;
}

.Navigation ul li a {
  color: var(--color-main);
  text-align: center;
}

.Navigation ul li a:hover {
  color: var(--color-purple);
}