.Projects {
  background-color: var(--color-main);
  color: var(--color-white);
}

.Projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

@media only screen and (max-width: 850px) {
  .Projects-content {
    grid-template-columns: 1fr;
  }
}