.ProjectTile {
  background-color: var(--color-tan);
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  border-radius: 15px;
}

.ProjectTile:hover {
  background-color: rgba(111, 0, 255, 0.125);
}

.ProjectTile.left {
  justify-self: end;
}

.ProjectTile.right {
  justify-self: start;
}

@media only screen and (max-width: 850px) {
  .ProjectTile.left,
  .ProjectTile.right
  {
    justify-self: center;
  }
}

.ProjectTile img {
  width: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ProjectTile-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  margin: 1em;
}

.ProjectTile-buttons button {
  padding: 1em;
  border: 1px solid var(--color-purple);
  color: var(--color-purple);
  background-color: inherit;
  outline: none;
  border-radius: 15px;
  font-weight:bold;
}

.ProjectTile-buttons button:hover {
  cursor: pointer;
  background-color: var(--color-purple);
  color: var(--color-white);
}