:root {
  --color-tan: rgb(241, 240, 240);
  --color-main: black;
  --color-white: white;
  --color-purple: 	#6f00ff;
  --color-blue: #00008B;
  --color-pink: #E75480;
}

.App {
  display: flex;
  flex-direction: column;
}

h2.section-header {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1em;
  /* background-color: var(--color-purple);
  color: var(--color-white); */
  margin: 0;
  padding: 1em;
}

span.color-main {
  color: var(--color-purple);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}